## Kütüphanenin içe aktarılması

In [ ]:
import pandas as pd

## Seriler

In [5]:
meyveler = ["Elma","Armut","Portakal","Karpuz"]
seri1 = pd.Series(meyveler)
seri1

0        Elma
1       Armut
2    Portakal
3      Karpuz
dtype: object

In [4]:
miktar = [30,150,200,1000]
seri2 = pd.Series(miktar)
seri2

0      30
1     150
2     200
3    1000
dtype: int64

In [6]:
miktar = [30,150,200,1000]
seri2 = pd.Series(miktar,index=["a","b","c","d"])
seri2

a      30
b     150
c     200
d    1000
dtype: int64

In [12]:
miktar = [30,150,200,1000]
meyveler = ["Elma","Armut","Portakal","Karpuz"]
df = pd.DataFrame({"Adı":meyveler,
                   "Miktar":miktar,
                   "Fiyat":[150,120,200,1000]})
df

        Adı  Miktar  Fiyat
0      Elma      30    150
1     Armut     150    120
2  Portakal     200    200
3    Karpuz    1000   1000